<div class="add-scroll full-screan">
  <app-navigation></app-navigation>
  <div class="content-center col pw-3 mt-3">
    <div *ngIf="!changeProfileMenuEnabled" class="mt-3">
      <img src="assets/tempimg.png" class="profile-img">
      <h1 class="mw-2">Username</h1>
      <button class="btn-yellow w-25" (click)="profileMenuHandler()">Change</button>
    </div>
    <form [formGroup]="updateProfileForm" *ngIf="changeProfileMenuEnabled" class="mt-3">
      <label class="profile-img content-center" [class.file-upload-zone]="!imagePreview" dragFile (file)="getDroppedFile($event)">
        <img *ngIf="imagePreview" class="profile-img" src="{{imagePreview}}" />
        <span *ngIf="!imagePreview" class="file-upload-text">Choise your picture</span>
        <input type="file" formControlName="image" (change)="getDroppedFile($event)" style="display: none;" accept="image/*" />
      </label>
      <div>
        <input type="text" formControlName="username" class="text-input w-25 mw-2" placeholder="Enter your new username" />
      </div>
      <div class="w-50">
        <input type="button" class="btn-white mh-1 w-25p" (click)="profileMenuHandler()" value="Cancel">
        <input type="button" class="btn-yellow mh-1 w-25p" (click)="updateProfileSubmit()" value="Save changes">
      </div>
    </form>
  </div>
</div>
