<div class="add-scroll full-screan">
  <nav class="navigation bg-yellow w-100 content-center-end pw-1">
    <button class="btn-white-small ml-1">My gallery</button>
    <button class="btn-white-small ml-1 mr-3">Account</button>
  </nav>
  <div class="content-center col">
    <div class="mt-3">
      <h1>Popular</h1>
      <img src="assets/tempimg.png">
    </div>
    <div class="row">
      <h1>Interesting</h1>
      <img src="assets/tempimg.png">
      <img src="assets/tempimg.png">
      <img src="assets/tempimg.png">
      <img src="assets/tempimg.png">
      <img src="assets/tempimg.png">
      <img src="assets/tempimg.png">
    </div>
  </div>
</div>
