<!--Current post window-->
<div class="content-center full-screan">
  <div class="alert-bg"></div>
  <div class="alert bg-white ph-3 pw-3 flex row w-75 h-75">
    <div class="w-100 h-75 content-center col">
      <img src="assets/tempimg2.png" style=" height: auto; max-width: 100%; max-height: 100%;">
    </div>
    <div class="w-100p ph-1">
      <div class="content-center col flex-start">
        <h3 class="mw-2">Ddddd</h3>
        <div class="flex">
          <div class="content-center">
            <a href="assets/tempimg.png" download class="btn-yellow mr-1">Download .PNG</a>
            <h4>Author:</h4>
            <p class="link-dark mh-1">sffsfs</p>
            <img src="assets/tempimg.png" style="height: 50px; width: 50px; border-radius: 100%;">
          </div>
        </div>
      </div>
      <hr class="mw-2">
      <div>
        <span>Comments</span>
        <div class="mt-2 comments">
          <div class="content-center-start flex-wrap">

            <!--Comment message template-->
            <div class="content-center-start w-100p row">
              <img src="assets/tempimg.png" style="height: 50px; width: 50px; border-radius: 100%;">
              <h4 class="mh-1">Author:</h4>
              <p style="text-align: left"> Ddosdododododod dodoodo dodsdsdk sdodssdodsodsokdo dsoddsdsdssd ds</p>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
<!--Current post window end-->

<div class="add-scroll full-screan">
  <nav class="navigation bg-yellow w-100 content-center-end pw-1">
    <button class="btn-white-small ml-1">My gallery</button>
    <button class="btn-white-small ml-1 mr-3">Account</button>
  </nav>
  <div class="content-center col">
    <div class="mw-3">
      <h1 class="mb-1">Popular</h1>
      <div class="content-center">
        <div class="popular-item bg-black mh-1 content-center-end col">
          <img src="assets/tempimg.png">
          <div class="popular-shadow"></div>
          <span class="popular-description mb-1">Description</span>
        </div>
        <div class="popular-item bg-black mh-1 content-center-end col">
          <img src="assets/tempimg.png">
          <div class="popular-shadow"></div>
          <span class="popular-description mb-1">Description</span>
        </div>
        <div class="popular-item bg-black mh-1 content-center-end col">
          <img src="assets/tempimg.png">
          <div class="popular-shadow"></div>
          <span class="popular-description mb-1">Description</span>
        </div>
      </div>
      <div class="row">
        <h1 class="mt-2 mb-1">Interesting</h1>
        <div class="content-center w-75 flex-wrap">
          <div class="interesting-item bg-black mh-1 content-center-end col">
            <img src="assets/tempimg.png">
            <div class="interesting-shadow"></div>
            <span class="interesting-description mb-1">Description</span>
          </div>
          <div class="interesting-item bg-black mh-1 content-center-end col">
            <img src="assets/tempimg1.png">
            <div class="interesting-shadow"></div>
            <span class="interesting-description mb-1">Description</span>
          </div>
          <div class="interesting-item bg-black mh-1 content-center-end col">
            <img src="assets/tempimg2.png">
            <div class="interesting-shadow"></div>
            <span class="interesting-description mb-1">Description</span>
          </div>
          <div class="interesting-item bg-black mh-1 content-center-end col">
            <img src="assets/tempimg.png">
            <div class="interesting-shadow"></div>
            <span class="interesting-description mb-1">Description</span>
          </div>
          <div class="interesting-item bg-black mh-1 content-center-end col">
            <img src="assets/tempimg.png">
            <div class="interesting-shadow"></div>
            <span class="interesting-description mb-1">Description</span>
          </div>
          <div class="interesting-item bg-black mh-1 content-center-end col">
            <img src="assets/tempimg1.png">
            <div class="interesting-shadow"></div>
            <span class="interesting-description mb-1">Description</span>
          </div>
          <div class="interesting-item bg-black mh-1 content-center-end col">
            <img src="assets/tempimg2.png">
            <div class="interesting-shadow"></div>
            <span class="interesting-description mb-1">Description</span>
          </div>
          <div class="interesting-item bg-black mh-1 content-center-end col">
            <img src="assets/tempimg.png">
            <div class="interesting-shadow"></div>
            <span class="interesting-description mb-1">Description</span>
          </div>
          <div class="interesting-item bg-black mh-1 content-center-end col">
            <img src="assets/tempimg.png">
            <div class="interesting-shadow"></div>
            <span class="interesting-description mb-1">Description</span>
          </div>
          <div class="interesting-item bg-black mh-1 content-center-end col">
            <img src="assets/tempimg.png">
            <div class="interesting-shadow"></div>
            <span class="interesting-description mb-1">Description</span>
          </div>
          <div class="interesting-item bg-black mh-1 content-center-end col">
            <img src="assets/tempimg.png">
            <div class="interesting-shadow"></div>
            <span class="interesting-description mb-1">Description</span>
          </div>
          <div class="interesting-item bg-black mh-1 content-center-end col">
            <img src="assets/tempimg.png">
            <div class="interesting-shadow"></div>
            <span class="interesting-description mb-1">Description</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
